body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left,
.middle,
.right {
    width: 30%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: grid;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}

li:hover {
    background-color: #f0f0f0;
}

#order-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
textarea,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#order-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#orders {
    padding: 20px;
}

#my-orders-button {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#my-orders-button:hover {
    background-color: #0056b3;
}